@charset "utf-8";
/**********************************************************************************
* POST RATINGS Pro 1.2                                                            *
***********************************************************************************
* Created by:            Solomon Closson (aka: SoLoGHoST)     					  *
* Copyright 2013:     Solomon Closson (http://dream-portal.net)					  *
* =============================================================================== *
* postratings.css 											                      *
**********************************************************************************/

ul.quickbuttons li.remove_ratings_button
{
	background: url(../images/theme/ratingbuttons.png) no-repeat 0 -60px;
}
ul.quickbuttons li.enable_ratings_button
{
	background: url(../images/theme/ratingbuttons.png) no-repeat 0 0;
}
ul.quickbuttons li.disable_ratings_button
{
	background: url(../images/theme/ratingbuttons.png) no-repeat 0 -30px;
}
.expanded
{
	display: block;
	margin: 0 1em 1em 0;
	border: 1px outset #3b3b3b;
	border-bottom-style: inset;
	border-right-style: inset;
}
.prheader
{
	width: 100%;
	margin: 1px -2px 0 -2px;
	padding: 1px;
	border-top: 1px solid #696969;
	border-right: 1px solid #696969;
	border-left: 1px solid #696969;
	background-color: #FFFFFF;
}

.topic_table td.ratings
{
	background-image: none !important;
	background-repeat: repeat !important;
	background-position: 0% 0% !important;

}

#highest_rated_posts, #highest_rated_users { width: 49.5%; }
#highest_rated_posts { float: left; }
#highest_rated_users { float: right; }

/* Theme Specific Classes */

/* Star Images in Header */
img.pr_default {
	margin: 4px 0 0 0;
}

img.citiez_20rc5, img.vivanto_20 {
	margin: 9px 0 0 0 !important;
}
div.prWrapper.first {
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
div.prWrapper.last {
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
div.prWrapper {
	padding: 5px;
	margin: 0;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.8);
	box-shadow: 0 0 5px rgba(0,0,0,.8);
}
div.prWrapper div.pr_stars {
	float: right;
}

div.prWrapper div.userWrapper {
	position: relative;
	height: 40px;
}

div.prWrapper div.userWrapper div {
	position: absolute;
}

div.prWrapper div.userWrapper div a img {
	height: 40px;
}
div.prWrapper div.userWrapper div a span {
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	margin: 0;
	padding: 0;
}
div.prWrapper div.userWrapper div a span.no_avatar {
	height: 20px;
	margin-top: 13px;
}